@import url(admin.css);

* {
    padding: 0;
    margin: 0;
}

body {
    font-family: "Montserrat", sans-serif;
}

.wrong {
    padding: 7px 10px;
    border-radius: 5px;
}

.text-google {
    color: var(--orange);
}

.text-facebook {
    color: #3b5998;
}

.text-twitter {
    color: #00acee;
}

.backgroundLogin {
    width: 100%;
    height: 100vh;
    filter: blur(5px);
    background-size: cover;
}

.card-login {
    position: absolute;
    width: 50%;
    top: 50%;
    transform: translateY(-50%);
    border-radius: 10px;
    box-sizing: border-box;
    z-index: 100;
    transition: 0.5s;
}

.text-orange {
    color: var(--orange);
}

.card-right {
    width: 50%;
    background: #fff;
    padding: 20px;
    border-radius: 5px;
}

.btn-orange {
    background-color: var(--orange);
    margin: 5px 0;
    transition: 0.3s;
}

.btn-orange:hover {
    opacity: 0.9;
}

.btn-orange-line {
    border: 2px solid var(--orange);
    margin: 5px 5px 5px 5px;
    transition: 0.3s;
}

.btn-orange-line:hover {
    opacity: 0.9;
    color: var(--orange);
}

.scroll-right {
    width: 30px;
    height: 30px;
    position: absolute;
    top: 50%;
    right: 0;
    cursor: pointer;
    transform: translateY(-50%);
    background: #fff;
    font-size: 18px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.scroll-right i {
    line-height: 30px;
    font-size: 25px;
    transition: 0.5s;
}

.card-left {
    width: 50%;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    transition: 0.5s;
}

.card-social-media {
    width: 100%;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    padding: 20px 25px 20px 20px;
    background: var(--orange);
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    transition: 0.5s;
}

.with-google,
.with-facebook,
.with-twitter {
    width: 75%;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
}

.with-google p,
.with-facebook p,
.with-twitter p {
    position: absolute;
    left: 15%;
    top: 50%;
    transform: translateY(-50%);
    font-size: 15px;
}
